<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>CSS Generator API</title>

		<!-- ICON -->
		<link rel="icon" href="assets/logo.svg" />

        <!-- FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="./public/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="wrapper">
			<nav id="navbar" class="sticky">
				<h1>CSS Generator API</h1>
                <ul>
				    <li><a href="#">API</a></li>
                    <li><a href="#">Generators</a></li>
                    <li><a href="#">Contributors</a></li>
                </ul>
			</nav> <!-- #navbar .sticky -->

			<main class="hero">
                    <h1>CSS Generator API</h1>
					<p>
						Provides a directory of websites that 
                        generate different CSS design elements.
					</p>
                    <p>
                        Search for a CSS generator by relevant keywords.
                    </p>
			</main> <!-- .hero -->

			<section class="documentation">
				
                <h2>Documentation</h2>
				
                <section class="documentationDescription">
                    <p>Each website has the following information stored as an object.</p>
                    <p>There are 5 properties/keys that come with each website's object:</p>
                </section> <!-- .documentationDescription -->

				<table class="darkTable">
					<thead>
					<tr>
					<th id='property'>PROPERTY</th>
					<th id='description'>DESCRIPTION OF PROPERTY</th>
					</tr>
					</thead>
					<tbody>
					<tr>
					    <td class="tableProperty" id='name'>name</td><td>[String] Name or title of the website. </td>
                    </tr>
                    <tr>
					    <td class="tableProperty" id='image'>image</td><td>[String] Image of the website. </td>
                    </tr>
					<tr>
					    <td class="tableProperty" id='url'>url</td><td>[String] Link to website.</td>
                    </tr>
					<tr>
					    <td class="tableProperty" id='description'>description</td><td>[String] A brief description about what thewebsite can generate.</td>
                    </tr>
                    <tr>
					    <td class="tableProperty" id='keywords'>keywords</td><td id='array'>[Array] Relevant keywords related tothe generator.</td>
                    </tr>
					</tbody>
				</table> <!-- .darkTable -->

            </section> <!-- .documentation -->
			
            <section class="endpoints">
                
                <h2>Endpoints</h2>
				
                <section class="endpointsColumns">
				    
                    <div class='url'>
				    	<p>Each website object is stored in the <span class="websitesSpan">websites</span> array.</p>
                        
                        <section class="urlP">
                            <p>Direct link to the entire <span class="websitesSpan">websites</span> array:</p>
				    	    <p class="endpointsURL">https://cssgenerator.com/api</p>
				    	    <p class="smallP">*The "/api" endpoint will return every website object in the array.</p>
                        </section> <!-- .urlP-->

                        <section class=ectlP">
                            <p>Link to filtered objects that contain a specified keyword:</p>
				    	    <p class="endpointsURL">https://coding-websites-api.herokuapp.com/api/<span class="keywordSpan">&ltkeyword&gt;</span></p>
				    	    <p class="smallP">*The "/api/keyword" endpoint accepts a keyword that will be used to search through the   <span class="websitesSpan">websites</span> array.</p>
                        </section> <!-- .urlP -->

				    </div> <!-- .url -->

				    <div class='js-fetch'>
				    	<p>Example code-block of how to fetch with JavaScript:</p>
				    	<code id='js-example'>
                            <p>const URL = `https://cssgenerator.com/api/<span class="keywordSpan">${keyword}</span>`;</p>
				    		<p>fetch(URL)</p>
				    		<p class="indent">.then(res => res.json())</p>
				    		<p class="indent">.then(data => console.log(data))</p>
				    		<p class="indent">.catch(err => console.error(err));</p>
                        </code>
				    </div> <!-- .js-fetch -->

                </section> <!-- .endpointsColumns-->

            </section> <!-- .endpoints -->

            <section class="allGenerators">
			    
                <h2>All Generators</h2>
			    
                <section class="api-test">
			    	<form action="">
			    		<input
			    			type="text"
			    			name=""
			    			value=""
			    			placeholder="keyword"
			    		/>
			    		<button id="keyword-btn" type="button">
			    			<i class="fa-solid fa-magnifying-glass"></i>
			    		</button>
			    		<button type="submit" style='display: none;'></button>
			    	</form>
			    	<div class="result">
						<div class='scroll-container'>
							<ul id="result-list">
								<!-- Loop through websites array and render each object to the DOM -->
								<% for(let i = 0; i < websites.length; i++) { %>
									<li>
										<!-- JSON Format for DOM rendering -->
										<!-- Add indentation, line break and quotes around each key's value -->
										<pre class="json">
											<code>{
													<div class="indent">
														<img src="<%= websites[i].image %>">
														<p>name: '<%= websites[i].name %>',</p>
														<p>url: '<a href=<%= websites[i].url %> target="_blank"><%= websites[i].url %></a>',</p>
														<p>description: '<%= websites[i].description %>'</p>
														<p class="text-truncate">keywords: [<%= websites[i].keywords.map(keyword => `'${keyword}'`).join(", ") %>]</p>
													</div>},
											</code>
										</pre>
									</li>
								<% } %>
							</ul>
						</div>
					</div>
			    </section> <!-- .api-test -->
            
            </section> <!-- .allGenerators-->

			<h2 id='contributors-title'>Contributors</h2>
			<section class="contributors">	
					<div class='card' id='alexisintech'>
						<img src="public/assets/alexisintech.jpg" alt="Alexis' photo">
						<div class='cont-info'>
							<h4>Alexisintech</h4>
							<div class='icons'>
								<a href='https://twitter.com/alexisintech/' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/alexisintech/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/alexisintech/' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
			</section>

			<footer>
                    <a href='https://github.com/the-api-administration/' target='_blank'><img src="public/assets/logo.svg" alt="logo" /></a>
				    <p>
                        Bugs? Features? Please report them here: <a href="https://github.com/the-api-administration/css-generator-api/issues" target='_blank'>GitHub</a>.
				    </p>
                    <hr>
                    <span><a href="https://alexisintech.github.io/socialLinks/">© Alexis Aguilar 2022</a></span>
			</footer>

		</div>

	</body>
	<script src="./public/js/main.js"></script>
</html>
